<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.rbooks.repository.ReadBookDao">
 	
 	<select id="findByBCode" resultType="rBookVO">
 		SELECT 
		    RB_SEQ,
		    RB_BCODE,
		    RB_BNAME,
		    RB_DATE,
		    RB_STIME,
		    RB_RTIME,
		    RB_SUBJECT,
		    RB_TEXT,
		    RB_STAR
		FROM tbl_read_book R, tbl_books B
		WHERE R.rb_bcode = #{b_code, jdbcType=VARCHAR}
				AND R.rb_bcode = B.b_code
 	</select>
 	
 	<insert id="insert" parameterType="rBookVO">
 		INSERT INTO tbl_read_book(
	 		RB_SEQ,
			RB_BCODE,
			RB_DATE,
			RB_STIME,
			RB_RTIME,
			RB_SUBJECT,
			RB_TEXT,
			RB_STAR,
			RB_BNAME
 		)VALUES(
			READ_SEQ.NEXTVAL,
			#{rb_bcode,jdbcType=VARCHAR},
			#{rb_date,jdbcType=VARCHAR},
			#{rb_stime,jdbcType=VARCHAR},
			#{rb_rtime,jdbcType=VARCHAR},
			#{rb_subject,jdbcType=VARCHAR},
			#{rb_text,jdbcType=VARCHAR},
			#{rb_star,jdbcType=VARCHAR},
			#{rb_bname,jdbcType=VARCHAR}
 		) 
 	</insert>
 
 </mapper> 