<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 
									[암호화를 수행하는 초기값 설정]
		envConfig : 환경변수를 가져오는 bean, saltPass를 설정, value와 server-profileConfigurations environments의 ORACLE_PASS에 설정된 value와 같아야함
		configEnc : envConfig를 사용하여 암호문 해독을 준비,  
		placeholderConfigurer :oracle secure properties를 가져와 복호화를 수행하는 bean (oracle.sec.properties에 저장된 name과 password뒤에 ENCmethod를 가져와서 복호화 수행) 
	-->
	<bean id="envConfig" class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
		<property name="algorithm" value="PBEWithMD5AndDES"/>
		<property name="passwordEnvName" value="ORACLE_PASS"/>
	</bean>	
	
	<bean id="configEnc" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
		<property name="config" ref="envConfig"/>
	</bean>
	
	<bean class="org.jasypt.spring31.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="configEnc"/>
		<property name="location" value="/WEB-INF/spring/oracle.sec.properties"/>
		
	</bean>

	<!--  
		${oracle.username} : ENC(암호문)의 method를 호출하는 구조
		return이 되는 username을 value에 주입
	 -->
	<bean id="oracleDS" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="${oracle.username}"/>
		<property name="password" value="${oracle.password}"/>
		
		<property name="validationQuery" value="SELECT 1 FROM DUAL"/>
		<property name="validationQueryTimeout" value="7200000" />
		<property name="testWhileIdle" value="true" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="oracleDS"></property>
		<property name="mapperLocations" value="/WEB-INF/spring/mapper/*-mapper.xml"></property>
		<property name="typeAliasesPackage" value="com.biz.rbooks.domain"></property>
	</bean>

	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean>
	
	<mybatis-spring:scan base-package="com.biz.rbooks.repository"/>
</beans>
